* {
    margin: 0;
}

body {
    font-family: Arial;
}

#header {
    background-color: dimgray;
    height: 3rem;
    border-bottom: 2.5rem solid mediumaquamarine;
}

h1 {
    font-size: 1.5rem;
    color: white;
}

#title {
    height: 34rem;
    background-color: lightgray;
    text-align: center;
}

#about {
    display: flex;
}

#about img {
    height: 22rem;
}

h3 {
    color: mediumaquamarine;
    width: 15rem;
    margin: 0 auto;
    text-align: center;
    padding-top: 3.5rem;
}

#fav {
    display: flex;
    justify-content: space-evenly;
}